.md-grid {
    max-width: initial;
}

.md-typeset .admonition,
.md-typeset details {
    font-size: 16px
}

.md-typeset h1 {
    color: white;
    font-weight: bold;
    font-family: 'Roboto Slab';
    background: rgb(2,0,36);
    background-image: linear-gradient(to right, #0033ff, #232eff, #3428ff, #4121ff, #4c17ff, #6434ff, #7649ff, #875cff, #a587ff, #c2afff, #e0d7ff, #ffffff);
    padding: 0.25em;
}

.md-typeset h2 {
    color: white;
    font-weight: bold;
    font-family: 'Roboto Slab';
    background-image: linear-gradient(to right, #000000, #222222, #3f3f3f, #5e5e5e, #7f7f7f, #949494, #aaaaaa, #c1c1c1, #d0d0d0, #e0e0e0, #efefef, #ffffff);
    padding: 0.25em;
}

.md-typeset h3 {
    color: black;
    font-weight: bold;
    font-family: 'Roboto Slab';
    background-image: linear-gradient(to right, #ff8800, #ff9300, #ff9d00, #ffa800, #ffb200, #ffb043, #ffb165, #ffb483, #ffbfb8, #ffd4e4, #fdebfb, #ffffff);
    padding: 0.25em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.photo {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 70%;
  display: flex;
  margin: auto;
}

.photo:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
