.md-grid {
    max-width: initial;
}

.md-typeset .admonition,
.md-typeset details {
    font-size: 16px
}

.md-typeset h1 {
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(238,65,79,1) 42%, rgba(0,84,255,1) 81%); 
    padding: 0.25em;
}

.md-typeset h2 {
    color: white;
    background-color: #fc0362;
    padding: 0.25em;
}

.md-typeset h3 {
    color: white;
    background-color: black;
    padding: 0.25em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: flex;
  margin: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.photo {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60%;
  display: flex;
  margin: auto;
}

.photo:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
